<!DOCTYPE html>
<html>
  <head>
    <title>Error!</title>
    <link rel='stylesheet' href='stylesheets/stylemain.css'>
  </head>
  <body>
  	<h1>There was an error in your request: </h1>
  	<p><%= error %> 
  </body>
</html>