<!DOCTYPE html>
<html>
  <head>
	<title>Welcome</title>
	<link rel='stylesheet' href='stylesheets/stylemain.css'>
  </head>
  <body>
	<h1> Welcome to the Sample Zappo's MoneySaver! </h1> 
	<p>Enter your email and a Product Name or Product ID. Once this items goes 
	on sale (20% or more), we will send you an email notifying you! Then, head over
	to <a href="http://www.zappos.com">Zappos.com</a> to make your purchase!</p>

	<form name="input" action="enter" method="post">
	  Email: <input class="enter-form" type="text" name="user">
	  Product Name<input class="enter-form"type="text" name="productname">
	  <div id="or-div">-OR-</div> 
	  Product ID <input class="enter-form"type="text" name="productid">
	  <input id="button" type="submit" value="Submit">
	</form>
  </body>
</html>
 
